.infoBox {
    flex: 1;
    cursor: pointer;
}
  
.infoBox:not(:last-child) {
    margin-right: 10px;
}

.infoBox__title {
  font-size: 15px !important; 
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif !important;
}

.infoBox__total {
  font-family: 'Times New Roman', Times, serif !important;
  font-size: 18px !important;

  transition: opacity 0.5s;
}

.infoBox__total:hover {
  opacity: 0.5;
}

.infoBox--selected {
  border-top: 10px solid greenyellow;
}

.infoBox--red {
  border-color: red;
}

  
  .infoBox__cases--green {
    color: lightgreen !important;
  }
  
.infoBox__cases {
  color: #cc1034;
    font-weight: 600;
    font-size: 1.75rem;
    margin-bottom: 0.5rem;
  }
  
  .infoBox__total {
    color: #6c757d;
    font-weight: bold !important;
    font-size: 1.5rem !important;
  } 


@media (max-width: 990px){
    
  .infoBox:not(:last-child) {
    margin-right: 0;
    margin-bottom: 10px;
  }
}