
  
  .app {
    /* display: flex;
    justify-content: space-evenly; */
    background-color: #f5f6fa;
    padding: 20px;
  }

  .app_stats {
    display: flex;
    justify-content: space-between;
  }