.container {
  display: flex;
  justify-content: space-evenly;
  background-color: #f5f6fa;
  padding: 20px;
}
.left {
  flex: 0.9;
}
.right {
  display: flex;
  flex-direction: column;
}

.right .MuiCardContent-root {
  display: flex;
  flex-direction: column;
  flex-grow: 1;  
}

.graphTitle {
  margin-top: 20px;
  margin-bottom: 20px;

}

@media (max-width: 990px){
  .container {
    flex-direction: column;
  }
}
  