.container {
  display: flex;
  justify-content: space-evenly;
  background-color: #f5f6fa;
  padding: 20px;
}
.left {
  flex: 0.9;
}

@media (max-width: 990px){
  .container {
    flex-direction: column;
  }
}
  