.app_dropdown {
  background-color:rgb(255, 255, 255);
  width: 150px;
  border-radius: 5px;
  padding: 5px !important;

}

.app_header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  justify-content: space-between;
}

.ItemMenu {
  display: flex;
  justify-content: space-between;
}
.ImagemItem {
  padding-left: 10px !important;
}

.app_header > img {
  width: 200px;
  height: 50px;
}

@media(max-width: 990px){
  .app_header > img {
    width: 150px;
    height: 50px;
  } 
}

